:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background: #171D1F;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    gap: 1.6875rem;
    padding: 3.5rem 0;
}

aside {
    background-color: var(--itens-background);
    border-radius: 0.625rem;
    height: 100%;
    padding: 2.5rem 1rem;
    text-align: center;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 5rem;
    align-items: center;
    list-style: none;
}

.lista-links li a {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.375rem;
}