:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background: #171D1F;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    gap: 1.6875rem;
    padding: 3.5rem 0;
}

aside {
    background-color: var(--itens-background);
    border-radius: 0.625rem;
    height: 100%;
    padding: 2.5rem 1rem;
    text-align: center;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 5rem;
    align-items: center;
    list-style: none;
}

.lista-links li a {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.375rem;
}

.lista-links li:first-of-type a {
    color: var(--primary-color);
}

.link-destaque {
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1.875rem;
    border-radius: 0.5rem;
}

main {
    background-color: var(--itens-background);
    border-radius: 0.625rem;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
}

h2 {
    font-size: 1.625rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form div label {
    font-size: 1.125rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
}

form div input, textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    font-family: var(--font-family);
    line-height: 1.40625rem;
}

form div input {
    height: 2.4375rem;
}

textarea {
    height: 10.0625rem;
}

.main-imagem {
    padding: 1rem 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.botao-carregar {
    width: 100%;
    background-color: transparent;
    border: 0.125rem solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    padding: 0.75rem 0;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.botao-carregar::after {
    content: "";
    background-image: url("./img/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.9375rem;
    height: 0.9375rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

.container-imagem-nome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.lista-tags {
    display: flex;
}

.lista-tags li {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--background-color);
    gap: 0.625rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.container-botoes {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.container-botoes button {
    width: 50%;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    text-align: center;
    border-radius: 0.5rem;
    font-family: var(--font-family);
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.botao-descartar {
    background-color: var(--itens-background);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    position: relative;
}

.botao-descartar::after {
    content: "";
    background-image: url("./img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.9375rem;
    height: 0.9375rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

.botao-publicar {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--primary-color);
    position: relative;
}

.botao-publicar::after {
    content: "";
    background-image: url("./img/arrow_forward2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.9375rem;
    height: 0.9375rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}